body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

body .nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: teal;
  color: white;
}

body .nav h1 {
  display: inline;
  color: white;
  font-size: 36px;
}

body .nav .material-icon {
  display: inline-flex;
  justify-content: flex-end;
  align-items: flex-end;
}
body .container {
  margin: 30px 10% 0 10%;
  background-color: #f5f5f5;
  width: max-width;
  height: 1000px;
  padding-top: 20px;
}

body .container .card {
  position: relative;
  width: max-width;
  height: 200px;
  background-color: white;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 1px 1px 4px 0;
}

body .container .card img.card-media {
  position: relative;
  left: 0;
  width: 30%;
  height: 200px;
}

body .container .card .card-title {
  position: relative;
  top: -220px;
  left: 38%;
  font-size: 32px;
  width: 200px;
}

body .container .card .card-description {
  position: relative;
  font-size: 14px;
  top: -210px;
  left: 38%;
  color: grey;
  width: 200px;
}


@media (max-width:600px) {

    body .container .card {
      position: relative;
      width: max-width;
      height: 200px;
      background-color: white;
      border-radius: 2px;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      box-shadow: 1px 1px 4px 0;
    }


    body .container .card .card-title {
      position: relative;
      top: -220px;
      left: 38%;
      font-size: 32px;
      width: 100px;
  }

    body .container .card .card-description {
      position: relative;
      font-size: 14px;
      top: -210px;
      left: 38%;
      color: grey;
      width: 200px;
  }

}














